<a href="https://colab.research.google.com/github/kaarthik25/ML-Exp-3-Multivariate-Linear-Regression/blob/main/Exp%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Advertising.csv')

In [3]:
df.head()
df.describe()
df.isnull().sum()
df.shape

(200, 4)

In [9]:
x=df[["TV","Radio","Newspaper"]]
x
y=df["Sales"]
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales, Length: 200, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=101)

In [13]:
from sklearn.linear_model import LinearRegression
l=LinearRegression()
l.fit(x_train,y_train)
y_pred=l.predict(x_test)
x_test

        TV  Radio  Newspaper
37    74.7   49.4       45.7
109  255.4   26.9        5.5
31   112.9   17.4       38.6
89   109.8   47.8       51.4
66    31.5   24.6        2.2
119   19.4   16.0       22.3
54   262.7   28.8       15.9
74   213.4   24.6       13.1
145  140.3    1.9        9.0
142  220.5   33.2       37.9
148   38.0   40.3       11.9
112  175.7   15.4        2.4
174  222.4    3.4       13.1
55   198.9   49.4       60.0
141  193.7   35.4       75.6
149   44.7   25.8       20.6
25   262.9    3.5       19.5
34    95.7    1.4        7.4
170   50.0   11.6       18.4
39   228.0   37.7       32.0
172   19.6   20.1       17.0
153  171.3   39.7       37.7
175  276.9   48.9       41.8
61   261.3   42.7       54.7
65    69.0    9.3        0.9
50   199.8    3.1       34.6
42   293.6   27.7        1.8
129   59.6   12.0       43.1
179  165.6   10.0       17.6
2     17.2   45.9       69.3
12    23.8   35.1       65.9
133  219.8   33.5       45.1
90   134.3    4.9        9.3
22    13.2   15.9       49.6
41   177.0   33.4       38.7
32    97.2    1.5       30.0
125   87.2   11.8       25.9
196   94.2    4.9        8.1
158   11.7   36.9       45.2
180  156.6    2.6        8.3

In [14]:
print("Regressor Slope: ",l.coef_[0])
print("Regressor intercept: ",l.intercept_)
y_pred

Regressor Slope:  0.04532831653793596
Regressor intercept:  2.9013136928731758

array([15.68292592, 19.58907536, 11.33442246, 16.97160642,  9.00229777,
        6.8258424 , 20.28370847, 17.25050474,  9.62422935, 19.21261943,
       12.28165709, 13.79124205, 13.63171832, 21.3166205 , 18.4260183 ,
        9.83360121, 15.48826256,  7.50717778,  7.37608168, 20.40569824,
        7.61221263, 18.21702553, 24.75227276, 22.87105326,  7.79566192,
       12.55620637, 21.47155589,  7.89397664, 12.3119109 , 12.41822104,
       10.6650977 , 19.23984433,  9.92216352,  6.53329195, 17.27904496,
        7.60035587,  9.1023379 ,  8.10416927, 10.45284718, 10.49584758])

In [16]:
from sklearn import metrics
MSE=metrics.mean_squared_error(y_test,y_pred)

In [17]:
print("MSE is {}".format(MSE))
r2=metrics.r2_score(y_test,y_pred)
print("R squared error is {}".format(r2))
l.predict([[150.3,240.5,234.5]])

MSE is 2.063418850121476
R squared error is 0.9303140201228004

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([55.4591243])